spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:../config,file:./config,${CONFIG_DIR:}

server:
  port: 8889
